article {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 50px;
}

#avatar {
  width: 100%;
  height: 100%px;
  border-radius: 50%;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: start;
}
#content > div {
  font-weight: bold;
}

#content > a {
  text-decoration: none;
  color: grey;
}
